JAR_PATH=./synthea-with-dependencies.jar #./synthea-subset-modules-with-custom-modules.jar
SEED=12345
POP=100
GENDER=F
AGE_RANGE=18-40
# STATE=Florida
REFDATE=20251101
PROPS_FILE=./my.properties
# MODULES_DIR=./my_modules