# Pregnancy Medication Checker - Environment Configuration
# Copy this file to .env and customize as needed

# Port Configuration
BACKEND_PORT=8000
FRONTEND_PORT=5173
HAPI_FHIR_PORT=8080

# Backend Application Configuration
APP_NAME=Pregnancy Medication Checker API
API_PREFIX=/api
VERSION=0.1.0

# CORS Configuration
ENABLE_CORS_ORIGINS=http://localhost:5173,https://pregnancy-med-checker.vercel.app/,https://www.pregsafe.org/

# FHIR Server Configuration
# Current implementation of project uses public test server: http://hapi.fhir.org/baseR4
# If want to test local hapi server from docker-compose: http://localhost:8080/fhir or http://hapi-fhir:8080/fhir
# If deploy a FHIR server to fly.io: https://pregnancy-hapi-fhir.fly.dev/fhir
FHIR_SERVER_URL=http://hapi.fhir.org/baseR4 
FHIR_APP_ID=pregnancy-med-checker
FHIR_TIMEOUT=30
FHIR_VERIFY_SSL=false # Disable only for local, enable for prod

# Logging Configuration
LOG_LEVEL=INFO
LOG_FORMAT=json
LOG_ROTATION=1 day
LOG_RETENTION=7 days

# Development Configuration
DEBUG=true

# Vercel
VERCEL_TOKEN=your_actual_vercel_token_here # Needed to redeploy front-end
VERCEL_ORG_ID=team_xxxxxxxxxxxxx # Optional, stored in .vercel
VERCEL_PROJECT_ID=prj_xxxxxxxxxxxxx # Optional, stored in .vercel
VERCEL_APP_URL=https://pregnancy-med-checker.vercel.app
CUSTOM_APP_URL=https://www.pregsafe.org

# Docker
DOCKER_USERNAME=xxx